<!DOCTYPE html>
<html lang="ko">
    <head>
        <link rel="stylesheet" href="introduction_style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lunch Tech</title>
    </head>

    <body>
        <header>
            <form action ="/main" method ="get"><input type= "image" src="image/Logo_4.png" style="height:50px; width:300px"></form>
        </header><hr>
        <p id="title"><%=data[0].rest_name%> (별점: <%=data[0].star%>점 / 5점)</p>
        <div style="width:1000px">
            <img src="<%=data[0].image%>" onerror='this.src ="image/temp.jpg"' style="width:300px; height:300px">
            <div id="map" style="float:right; width:350px;height:350px;"></div>
        </div>
        
        <div>메뉴</div>
        <ul>
            <%let i = 1;%>
            <%for(i ; i < data.length ; i++) {%>
                <%if (!('menu' in data[i])) break;%>
                <li><%=data[i].menu%><%=data[i].price%></li>
            <%}%>
        </ul>
        
        <div>리뷰</div>
        <ul> 
            <%for(i ; i < data.length ; i++) {%>
                <%if (!('review_text' in data[i])) break;%>
                <%let ratio = (data[i].review_star*20)%>
                <%let ratio2 = 100 - ratio%>
                <%let st = "width: " + ratio + "px"%>
                <%let st2 = "width: " + ratio2 + "px"%>
                <li>
                    <div class ="star" style="<%=st%>"><img id="star_1" src="image/Star.png"></div>
                    <div class ="star" style="<%=st2%>"><img id="star_1" src="image/Star_2.png"></div><%=data[i].review_star%>점<br><%=data[i].review_text%>
                </li> 
            <%}%>
        </ul>
        
        <div>댓글</div>
        <form action="/comment" method="post">
            <input type="hidden" name="rest_name" value="<%=data[0].rest_name%>">
            <input type="text" name="name" value="익명">
            <input type="text" name="text" value="">
            <input type="submit" value="등록">
        </form>
        <ul> 
            <%for(i ; i < data.length ; i++) {%>
                <%if (!('comment_text' in data[i])) break;%>
                <li>
                    <%=data[i].user_id%><%=data[i].comment_text%>
                </li>
            <%}%>
        </ul>

        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a5f46b36eb244a5f47ad016651c7a4a1&libraries=services"></script>
        <script>
            let addr = "<%=data[0].address%>";
            let name = "<%=data[0].rest_name%>"
            console.log(addr);

            var mapContainer = document.getElementById('map'),
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667),
                level: 4
            };   
            var map = new kakao.maps.Map(mapContainer, mapOption); 

            var geocoder = new kakao.maps.services.Geocoder();
            geocoder.addressSearch(addr, function(result, status) {
                if (status === kakao.maps.services.Status.OK) {
                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                    
                    console.log(result[0].y, result[0].x)

                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: coords
                    });

                    map.setCenter(coords);
                } 
            });    
		    
        </script>
        <script type="text/javascript" src="introduction.js"></script>
    </body>
</html>